
/* Content Guide
  1. Body and general styles
  2. Homepage Header section
  3. Website Nav bar section
  4. Homepage Hero section
  5. Homepage About Us section
  6. Homepage Call to action section
  7. Website Footer section
   */

body {
font-size:1.6rem;
background-color: #AF6212;
}
header {
   background-image: url("Images/Grass.JPG");
   background-size:cover;
    color:white;
  text-align:center;
}
/* nav subsection of header homepage */
nav {
    text-align:center;
}
ul {
    font-size:.8rem;
    display:flex;
    list-style-type: none;
    gap:50px;
    margin-right:10%;
}
/* Homepage Hero section */
.hero-section {
   color:white;
   margin:auto;
}
/* Homepage about section */
.about {
   color:white;
}
/* Homepage cta section */
.cta {
    
}
footer {
    
}